<div class="map">
  Map Goes Here
</div>

<hr>

<h1>Listing photos</h1>

<% @photos.each do |photo| %>
<%= photo.url %>
    <%= image_tag(photo.url) %> <br />
    Lat <%= photo.lat %> 
    Long <%= photo.long %> <br />
    <%= link_to 'Show', photo %>

<% end %>


<br />
